<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop">
	<!-- -->
	<select id="list" parameterType="String" resultType="shop_vo">
		select *
		from shop_t where category = #{category}
	</select>

	<!-- -->
	<select id="onelist" parameterType="String" resultType="shop_vo">
		select *
		from shop_t where idx = #{idx}
	</select>

	<!-- ****************************************************************** -->
	<!-- 회원가입 -->
	<insert id="register" parameterType="shop_vo">
		insert into members(m_idx,
		m_id, m_pw, m_name, m_reg, m_addr)
		values(members_seq.nextval, #{m_id},
		#{m_pw}, #{m_name}, sysdate, #{m_addr})
	</insert>

	<!-- 로그인 시 비밀번호 일치 여부 -->
	<select id="memberpwchk" parameterType="String"
		resultType="shop_vo">
		select * from members where m_id = #{m_id}
	</select>

	<!-- 상품 등록 -->
	<insert id="productinsert">
		insert into shop_t(idx, category, p_num, p_name,
		p_company, p_price, p_saleprice, p_image_s, p_image_l, p_content,
		p_date)
		values(SHOP_SEQ.nextval, #{category}, #{p_num}, #{p_name},
		#{p_company}, #{p_price}, #{p_saleprice}, #{p_image_s}, #{p_image_l},
		#{p_content}, sysdate)
	</insert>

	<!-- 장바구니 등록 -->
	<!-- 아래 2개는 시퀀스 값이 있어서 안된다 무결성제약에 걸림 -->
	<!-- <insert id="mystoreinsert" parameterType="java.util.List"> insert into 
		cart(cart_idx, p_num, p_name, p_price, p_su, m_id) values <foreach item="item" 
		index="index" collection="list"> ( cart_seq.nextval, #{item.p_num}, #{item.p_name}, 
		#{item.p_price}, #{item.qaunt}, #{item.m_id} ) </foreach> </insert> -->

	<!-- <update id="mystoreinsert" parameterType="java.util.List"> <foreach 
		collection="list" item="item" open="INSERT ALL" close="SELECT * FROM DUAL" 
		separator=" "> INTO cart VALUES (cart_seq.nextval, #{item.p_num}, #{item.p_name}, 
		#{item.p_price}, #{item.qaunt}, #{item.m_id}) </foreach> </update> -->
	<update id="mystoreinsert" parameterType="java.util.List">
		INSERT INTO cart (
		cart_idx, p_num, p_name, p_price, p_su, m_id
		)
		SELECT cart_seq.nextval AS cartSeq
		, T.*
		FROM (
		<foreach collection="list" item="item" index="index"
			separator="union all">
			SELECT #{item.p_num}
			, #{item.p_name}
			, #{item.p_price}
			, #{item.qaunt}
			, #{item.m_id}
			FROM SYS.DUAL
		</foreach>
		) T
	</update>



</mapper>